* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--Almost-White);
    max-height: 100vh;
}

h1 {
    font-size: clamp(30px, 5vw + 1em, 80px);
    line-height: 1;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

li {
    list-style: none;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--Almost-Black);
    font-size: 16px;
}

.header {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 3rem 4rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 7em;
}

.left-row,
.right-nav {
    display: flex;
    gap: 2em;
}

.btn {
    border: 1px solid var(--Almost-Black);
    padding: 10px 20px;
    text-align: center;
    background-color: var(--Almost-Black);
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    transition: 0.3s ease;
}

.btn:hover {
    color: var(--Almost-Black);
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.drp-container {
    background-image: url(images/icon-arrow-down.svg);
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: 100% 30%;
    display: block;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}

.drp-container:hover {
    background-image: url(images/icon-arrow-up.svg);
}

.drp-down1,
.drp-down2 {
    display: none;
    place-content: center;
    gap: 1em;
    position: absolute;
    background-color: #fff;
    padding: 1em;
    width: 7em;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.7em;
    transition: 0.5s;
}

.drp-down1 {
    transform: translate(-40%);
    width: 9em;
}

.drp-down1 img {
    padding-right: 10px;
}

.drp-container:hover .drp-down1,
.drp-container:hover .drp-down2 {
    display: grid;
}

.landing {
    display: grid;
    place-content: center;
    gap: 5em;
    grid-template-columns: 45% 30%;
}

.landing div {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4em;
}

.side-pics {
    background-image: url(images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.left .icons {
    display: flex;
    margin-top: 3em;
    gap: 3em;
}

.left .icon img {
    width: 5em;
}

.left .btn {
    width: 9em;
    font-weight: 500;
    text-align: center;
}

.header .fa-solid {
    display: none;
}

@media (max-width: 600px) {
    .header {
        display: grid;
        grid-template-columns: 80%;
        padding: 2rem 1rem;
        position: relative;
    }
    .nav {
        display: none;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100vh;
        position: absolute;
        background-color: var(--Almost-White);
        padding: 6em 3em;
        position: fixed;
    }
    .active-nav {
        right: 0;
        display: block;
    }
    .drp-container {
        background-image: url(images/icon-arrow-down.svg);
        background-position: 5em 5px;
    }
    .left-row,
    .right-nav {
        display: block;
        padding-bottom: 40px;
    }
    .right-nav {
        text-align: center;
    }
    .left-row li,
    .right-nav li {
        margin-block: 2em;
    }
    .drp-down1,
    .drp-down2 {
        display: none;
        position: relative;
        background-color: transparent;
        padding: 0.5em 1em;
        width: 100%;
        box-shadow: none;
        margin-top: 0.2em;
        transition: 0.5s;
        transform: none;
    }
    .dropdown {
        display: block;
    }
    .drp-container:hover .drp-down1,
    .drp-container:hover .drp-down2 {
        display: block;
    }
    .btn {
        display: inline-block;
        width: 90%;
        background-color: transparent;
        color: #000;
        font-weight: 600;
        padding: 15px;
    }
    .side-pics {
        background-image: url(images/image-hero-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .landing {
        display: flex;
        flex-direction: column-reverse;
        gap: 2em;
    }
    .landing div {
        min-height: 25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 2em;
    }
    .landing br {
        display: none;
    }
    .left .btn {
        width: 10em;
        padding: 15px 0;
        font-weight: 500;
        text-align: center;
    }
    .left .icons {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        padding: 0 20px;
        gap: 1em;
    }
    .icons img {
        width: 60px;
    }
    .header .fa-solid {
        display: initial;
        position: absolute;
        right: 2em;
        font-size: 18px;
    }
    .fa-xmark {
        top: 3em;
        right: 2em;
        font-size: 18px;
    }
}